
.container {
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
}

.slider {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}


.slider .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: slide 25s infinite;
    z-index: 2; /* Ensure this is higher than the pseudo-element */
    display: flex; /* Aligns text centrally within the slide */
    justify-content: center; /* Horizontally center the content */
    /* Vertically center the content */
    flex-direction: column; /* Ensure the text and paragraph stack */
    text-align: center; /* Center the text */
}
.slider .slide:nth-child(1) {
    background-image: url('../../../images/bgSlide1.jpg');
    animation-delay: 0s;
    background-size: cover; 
}

.slider .slide:nth-child(2) {
    background-image: url('../../../images/bgslide2.jpg');
    animation-delay: -5s; /* Adjusted delay */
  
}

.slider .slide:nth-child(3) {
    background-image: url('../../../images/bgslide3.jpg');
    animation-delay: -10s; /* Adjusted delay */
    background-size: cover; 
}

.slider .slide:nth-child(4) {
    background-image: url('../../../images/bgslide4.jpg');
    animation-delay: -15s; /* Adjusted delay */
    background-size: cover; 
}

.slider .slide:nth-child(5) {
    background-image: url('../../../images/bgslide5.jpg');
    animation-delay: -20s; /* Adjusted delay */
    background-size: cover; 
}

@keyframes slide {
    0%, 100% {
        opacity: 0;
        transform: scale(2);
    }
    4%, 20% {
        opacity: 1;
        transform: scale(1.3);
    }
    24%, 96% {
        opacity: 0;
        transform: scale(1);
    }
}

.darklayer{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 3;
}

.title {
    @apply text-white  text-[30px] z-50 mb-5;
}

.slideContent{
    @apply text-white z-10 text-center mx-auto w-[50%] ;
    font-family: 'Lora', serif;
    font-weight: 400;
    line-height: 1.6;
}


/* Product section */

.all-products{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.product{
	overflow: hidden;
	background: #ffffff;
	color: #21201e;
	text-align: center;
	width: 240px;
	height: 400px;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 1.2rem;
	margin: 2rem;
    @apply my-[1rem]
}

.product .product-title, .product .product-price{
	font-size: 18px;
}

.product:hover img{
	scale:  1.1;
}

.product:hover {
	box-shadow: 0px 0px 15px #eeeeee;
}

.product img {
	height: 200px;
	margin: 1rem;
	transition: all 0.3s;
    @apply rounded-[15px];
}

.product a:link, .product a:visited{
	color: #ececec;
	display: inline-block;
	text-decoration: none;
	background-color:  #f04343;
	padding: 0.5rem 1rem;
	border-radius: 1rem;
	margin-top: 1rem;
	font-size: 14px;
	transition: all 0.2s;
}

.product a:hover{
	transform: scale(1.05);
}


/* customer review */
.reviewuser{
    @apply w-[100px] h-[100px] rounded-[100px] border-red-700 border-2 ;
}

.customer-review-card{
    @apply w-[400px] flex flex-col items-center  justify-center ;
}

.customer-review{
    @apply text-center text-black bg-white p-4  flex flex-col items-center justify-center rounded-[15px] ;
}

.customer-review:hover {
    box-shadow: 0px 0px 15px #eeeeee;
}

.customer-review button, .customer-review button:visited{
    color: #ececec;
	display: inline-block;
	text-decoration: none;
	background-color:  #f04343;
	padding: 0.5rem 1rem;
	border-radius: 1rem;
	margin-top: 1rem;
	font-size: 14px;
	transition: all 0.2s;
}

.customer-review button:hover{
	transform: scale(1.05);
}
.customerReview{
    @apply flex flex-row justify-around;
}


/* Promise Section */

.promiseCover{
    @apply flex flex-row
}

.promisecrd{
    @apply flex flex-col
    
}